<form enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Category</label>
    <input type="email" class="form-control" id="category1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <input type="email" class="form-control" id="desc1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">upload image</label>
    <input type="file" class="form-control-file" id="img1">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>